@import '~@blueprintjs/core/dist/blueprint.css'; /* cf. https://github.com/palantir/blueprint/issues/123 */
@import '~react-table/react-table.css';
@import './components/common/react-table-overrides.css';

body {
  min-height: 100vh;
  margin-top: 58px;
  background-color: #f5f8fa;
}
